extends layout

block content
  #leftSide
    #wall
      #messages
        #msgTitle
          h2 Messages received:
          br
        #msgInfo
      input(type="text", id="inputmsg")
      button(id="send", onClick="sendMsgs()") Send
    #manymsgs
      button(id="sendMany", onClick="sendMany()") Send many messages
      p(id="inputLblOne") Msgs per Blast:
      input(type="text", id="inputOne")
      p(id="inputLblTwo") Interval(ms):
      input(type="text", id="inputTwo")
      p(id="inputLblTree") Blast Count:
      input(type="text", id="inputTree")
    #infomsgs
      label(id="lblSent") Msgs sent:
      input(type="text", disabled="true", "id="msgSent") '0'
      label(id="lblRcvt") Msgs rcvt:
      input(type="text", disabled="true", id="msgRcvt") '0'
    #websocket
      p(id="lblWSS") Websocket Secure (WSS)
      input(type="radio", id="rdWSS", name="group", onClick="wss()")
      textarea(disabled="true", id="wss") 'wss://192.168.1.182:9090'
      p(id="lblWS") Websocket (WS)
      input(type="radio", id="rdWS", name="group", onClick="ws()")
      textarea(disabled="true", id="ws") 'ws://192.168.1.182:8080'
  #rightSide
    #logs
      #logsTitle
        h2 Logs:
        br
      #logsInfo
    #info
      b To run test:
      br
      p * Select the connection you want(WSS/WS) and wait for connect.
      p * Select the number of msgs per blast.
      p * Select the interval between blasts (ms).
      p * Select the number of blasts.
      p * Click 'Send many messages' to run test.

