
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(text="javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(text="javascript", src="/socket.io/socket.io.js")
    script(text="javascript")

      var sent = 0;
      var rcvt = 0;
      var socketWS = null;
      var socketWSS = null;
      var centinelWS = false;
      var centinelWSS = false;

      /*--------------------*/
      function sendMsgs(){
        if($("input[name=group]:checked").val()){
          sent++;
          $('#msgSent').val(''+sent);
          $('#msgInfo').append('<h4>' + $('#inputmsg').val() + '</h4>');
          rcvt++;
          $('#msgRcvt').val(''+rcvt);
        }else{
          alert("You must select a connection: WS or WSS");
        }
      }

      /*--------------------*/
      function sendMany(){
        var number = parseInt($('#inputOne').val());
        var interval = parseInt($('#inputTwo').val());
        times = parseInt($('#inputTree').val());
        var waiting = false;
        while(times){
          times--;
          setTimeout(
            function(){
              for(var i=0; i<number; i++){
                sent++;                
                $('#msgSent').val(''+sent);
                $('#msgInfo').append('<h4>' + $('#inputmsg').val() + '</h4>');
                rcvt++;
                $('#msgRcvt').val(''+rcvt);
              }
              $('#msgInfo').append('<h3 style="color:blue;">' + ' ---> Waiting...' + '</h3>');
            }, interval);
        }
      }
   
      /*--------------------*/
      function wss(){
        if(socketWS){
          socketWS.disconnect();
          console.log("   <--> WS disconnected.");
          console.log("   <--> Connecting using WSS.");
        }
        if(centinelWSS){
          socketWSS.socket.connect();
        }else{
          socketWSS = io.connect('wss://192.168.1.182:9090/',{secure: true, port: '9090'});
        }
        socketWSS.on('newsWSS', function(data){
          $('#logsInfo').append(data+'<br/>');
          console.log(data);
        });
        centinelWSS = true;
      }

      /*--------------------*/
      function ws(){
        if(socketWSS){
          socketWSS.disconnect();
          console.log("   <--> WSS disconnected.");
          console.log("   <--> Connecting using WS.");
        }
        if(centinelWS){
          socketWS.socket.connect();
        }else{
          socketWS = io.connect('ws://192.168.1.182:8080/', {secure: false, port: '8080'});
        }
        socketWS.on('newsWS', function(data){
          $('#logsInfo').append(data+'<br/>');
          console.log(data);
        });
        centinelWS = true;
      }
  body
    block content
