
body {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

a{color: #00B7FF;}

/* Left side:
-------------------------------------------------------------------*/

 #wall{
   width: 75%;
   height: 70%;
   background-color: gray;
   position: absolute;
   top: 0;
   left: 0;
 }
 
 #messages{
   width: 98%;
   height: 88%;
   top: 2%;
   left: 1%;
   position: absolute;
   background-color: white;
 }

 #msgTitle{
   width: 98%;
   height: 7%;
   padding-left: 2%;
   position: absolute;
   border-bottom: 1px solid;
 }

 #msgInfo{
   width: 96%;
   height: 91%;
   top: 7%;
   padding-left: 4%;
   padding-top: 1%;
   position: absolute;
   overflow-x: hidden;
 }

 #wall h3{
   float: left;
   position: relative;
   top: 93%;
   padding-left: 1%;
 }

 #inputmsg{
   width: 28%;
   height: 7%;
   float: left;
   position: relative;
   margin-left: 1%;
   top: 91%;
   padding-left: 1%;
 }

 #send{
   width: 10%;
   height: 8%;
   float: left;
   position: relative;
   top: 91%;
   left: 1%;
 }

/* Send many messages */

 #manymsgs{
   width: 75%;
   height: 10%;
   top: 70%;
   position: absolute;
   background-color: lightgray;
 }
 
 #sendMany{
   width: 30%;
   height: 70%;
   left: 1%;
   top: 15%;
   position: relative;
   float: left;
 }

 #inputOne, #inputTwo, #inputTree{
   float: left;
   position: relative;
   width: 7%;
   top: 30%;
   padding-left: 1%;
 }

 #inputLblOne, #inputLblTwo, #inputLblTree{
   float: left;
   position: relative;
   top: 35%;
   padding-left: 1.5%;
 }

/* Information about received and sent msgs */

 #infomsgs{
   width: 75%;
   height: 10%;
   top: 80%;
   position: absolute;
   background-color: gray;
 }

 #lblSent, #lblRcvt{
   float: left;
   position: relative;
   left: 2%;
   top: 35%;
   padding-right: 3%;
 }

 #msgSent,  #msgRcvt{
   float: left;
   position: relative;
   top: 35%;
   width: 10%;   
 }

 /* Options: WSS or WS */

 #websocket{
   width: 75%;
   height: 10%;
   top: 90%;
   position: absolute;
   background-color: lightgray;
 }

 #lblWSS, #lblWS{
   float: left;
   position: relative;
   left: 2%;
   top: 42%;
 }

 #rdWSS, #rdWS{
   float: left;
   position: relative;
   left: 2%;
   top: 45%;
 }

 #wss, #ws{
   float: left;
   position: relative;
   top: 25%;
   left: 2%;
   margin-right: 3%;
 }

#rightSide{
  width: 25%;
  height: 100%;
  background-color: darkgray;
  top: 0;
  left: 75%;
  position: absolute;
}

/* Logs info */

 #logs{
   width: 96%;
   height: 58%;
   top: 1%;
   left: 2%;
   background-color: white;
   position: absolute;
 }

 #logsTitle{
   width: 98%;
   height: 8.5%;
   padding-left: 2%;
   padding-top: 1.5%;
   position: absolute;
   border-bottom: 1px solid;

 }
 
 #logsInfo{
   color: red;
   width: 91%;
   height: 85%;
   top: 10%;
   padding-left: 4%;
   padding-right: 5%;
   padding-top: 5%;
   position: absolute;
   overflow-x: hidden;
   font-size: 80%;
 }

#info{
  width: 86%;
  height: 34%;
  top: 61%;
  left: 2%;
  background-color: white;
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;
}
